body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #FFF;
}

a {
  color: #00B7FF;
}

h2 {
  text-align:center;
}

.blink-btn,.onoff-btn {
  margin-bottom: 5px;
}

#userList {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.border-bar {
  border-top: 2px solid #fff;
}

.row {
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
}
